
<div class="lp">
	<div class="lp-banner">
	  <div class="jumbotron">
	    <div class="text-content">
	      <h1 class="jumbotron-title">向终生学习者致敬「 以课程、以工具、以书卷 」</h1>
	      <p class="jumbotron-slogan">
	        在你脱胎换骨的時刻，陪在你身邊
	      </p>
	      <p class="jumbotron-lead"><a class="lp-b-btn" href="/products">
	      	开始蜕变</a>
	      </p>
	    </div>
	  </div>
	</div>


	<section class="story-box">

		<div class="short-line"></div>
     <div class="row">
       <div class="col-md-10 col-md-offset-1">
				 <h3 style="margin : 30px auto;"><%= t('品 牌 故 事') %></h3>
         <div class="story-text"><%= t('在知识付费的浪潮中，我们致力于为您甄选出最优质的课程、最好用的工具、最适合你的书籍。我们提供优质的课程，
				 并且提供符合用户定制化的教材和作业系统，
				 我们提供好用的工具，并且还提供使用工具的神奇方法，我们提供适合你的书籍，并且还提供专业的老师陪你共同阅读和拆解书籍。') %></br> <%= t('我们会一直陪伴着你，脱胎换骨成为下一个想要的自己。') %> </div>


         <div class="row">
           <div class="col-md-3 col-md-offset-1">
             <%= image_tag("heric.jpg") %>
           </div>
           <div class="col-md-7">
             <h5><%= t('彭皓') %></h5>
             <p><%= t('喜欢各种有趣的观点和思想，也喜欢搜集一些方法论，在知识付费的大浪潮中，不知道该如何删选如此众多的知识内容。喜欢有趣的思想、有趣的事情、有趣的方法论、更喜欢有趣的人。') %></p>
           </div>
         </div>
         <hr />
         <div class="row">
           <div class="col-md-7 col-md-offset-1">
             <h5><%= t('赵龙') %></h5>
             <p><%= t('《知识猎人公会》、《心流学习法》创始人，一名终身学习者。座右铭：没有任何人值得你崇拜，只有充满无限可能未来的自己，才有这个资格。') %></p>
           </div>
           <div class="col-md-3">
             <%= image_tag("zhaolong.jpeg") %>
           </div>
         </div>
       </div>
     </div>

   </section>

<!-- 翻转小卡片  开始 -->
<div class="container">
    <h1 style="text-align:center;margin:60px 0px; font-size:3em;"><%= t ("great-course") %></h1>
    <div class="row">
        <div class="col-md-12 col-sm-10 col-sm-offset-0 ">
            <div class="col-md-3 col-sm-6 wow fadeInUpBig" data-wow-delay="0.2s">
                <div class="card-container ">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="https://www.clipartsgram.com/image/124089475-california-beaches-tumblr-wallpaper-3.jpg"/>
                            </div>
                            <div class="user">
                                <img class="img-circle" src="https://ww3.sinaimg.cn/large/006tKfTcgy1fftz3roaiwj30y00z87bp.jpg"/>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h4 class="text-center">「 <%= t("wealth") %> 」</h4>
                                    <h5 class="profession">李笑来</h5>
                                    <p class="text-center"></br><%= t("opportunity") %></p>
                            </div>
                            <div class="footersmall">
                                <div class="rating">
                                    <i class="fa fa-mail-forward"></i> <%= t("see") %>
    						                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h4 class="profession"><%= t("introduction") %></h4>
                        </div>
                        <div class="content">
                            <div class="main">
                                <!-- <h4 class="text-center">Job Description</h4> -->
                                <p class="text-center"><%= t("wealth-introduction") %></p>
                                <div class="stats-container">
                                    <div class="stats">
                                        <h4>235000</h4>
                                        <p>
                                            <%= t("browse") %>
  						                           </p>
                                    </div>
                                    <div class="stats">
                                        <h4>155581</h4>
                                        <p>
                                            <%= t("subscribe") %>
  								                    	</p>
                                    </div>
                                    <div class="stats">
                                        <h4>340</h4>
                                        <p>
                                            <%= t ("course") %>
  										                  </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footersmall">
                            <div class="social-links text-center">
                                <a href="https://h5.sao.cn/product/detail?alias=onhnfsdtybxb"><%= t("subscribe") %></a>
                            </div>
                        </div>
                    </div>
                    <!-- end back panel -->
                </div>
                <!-- end card -->
            </div>
            <!-- end card-container -->
        </div>
        <!-- end col sm 3 -->
        <!-- <div class="col-sm-1"></div> -->
        <div class="col-md-3 col-sm-6 wow fadeInUpBig" data-wow-delay="0.4s">
            <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="https://www.clipartsgram.com/image/129556292-kyz84k3.jpg"/>
                        </div>
                        <div class="user">
                            <img class="img-circle" src="https://ww1.sinaimg.cn/large/006tKfTcgy1fftzbngsz8j302o02ot8i.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">「 <%= t ("read-meetup") %> 」</h4>
                                <h5 class="profession">Xdite</h5>
                                <p class="text-center"></br><%= t("meetup") %></p>
                        </div>
                        <div class="footersmall">
                            <div class="rating">
                                <i class="fa fa-mail-forward"></i> <%= t("see") %>
								            </div>
                        </div>
                    </div>
                </div>
                <!-- end front panel -->
                <div class="back">
                    <div class="header">
                        <h4 class="profession"><%= t("introduction") %></h4>
                    </div>
                    <div class="content">
                        <div class="main">
                            <!-- <h4 class="text-center">Job Description</h4> -->
                            <p class="text-center"><%= t("read-meetup-introduction") %></p>
                            <div class="stats-container">
                                <div class="stats">
                                    <h4>12000</h4>
                                    <p>
                                        <%= t("browse") %>
  										             	</p>
                                </div>
                                <div class="stats">
                                    <h4>5060</h4>
                                    <p>
                                        <%= t("subscribe") %>
  										             	</p>
                                </div>
                                <div class="stats">
                                    <h4>93</h4>
                                    <p>
                                        <%= t ("course") %>
  										             	</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footersmall">
                        <div class="social-links text-center">
                            <a href="https://speedread.club"><%= t("subscribe") %></a>
                        </div>
                    </div>
                </div>
                <!-- end back panel -->
            </div>
            <!-- end card -->
        </div>
        <!-- end card-container -->
    </div>
    <!-- end col sm 3 -->
    <!-- <div class="col-sm-1"></div> -->
    <div class="col-md-3 col-sm-6 wow fadeInUpBig" data-wow-delay="0.6s">
        <div class="card-container">
            <div class="card">
                <div class="front">
                    <div class="cover">
                        <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fg8eh2jdmpj30cs08i74a.jpg"/>
                    </div>
                    <div class="user">
												<img class="img-circle" src="https://ww4.sinaimg.cn/large/006tNc79gy1ffu06uwp4qj308c08cwez.jpg"/>
                    </div>
                    <div class="content">
                        <div class="main">
                                <h4 class="text-center">「 <%= t("Heart-flow") %> 」</h4>
                            <p class="profession">赵龙</p>
                            <p class="text-center"></br><%= t("fast-learning") %></p>
                    </div>
                    <div class="footersmall">
                        <div class="rating">
                            <i class="fa fa-mail-forward"></i> <%= t("see") %>
					  						</div>
                    </div>
                </div>
            </div>
            <!-- end front panel -->
            <div class="back">
                <div class="header">
                    <h4 class="profession"><%= t("introduction") %></h4>
                </div>
                <div class="content">
                    <div class="main">
                        <!-- <h4 class="text-center">Job Description</h4> -->
                        <p class="text-center"><%= t("Heart-flow-introduction") %></p>
                        <div class="stats-container">
                            <div class="stats">
                                <h4>530</h4>
                                <p>
                                    <%= t("browse") %>
									             	</p>
                            </div>
                            <div class="stats">
                                <h4>120</h4>
                                <p>
                                    <%= t("subscribe") %>
								             		</p>
                            </div>
                            <div class="stats">
                                <h4>11</h4>
                                <p>
                                    <%= t ("course") %>
								             		</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footersmall">
                    <div class="social-links text-center">
                        <a href="https://floating-earth-63565.herokuapp.com"><%= t("subscribe") %></a>
                    </div>
                </div>
            </div>
            <!-- end back panel -->
        </div>
        <!-- end card -->
    </div>
    <!-- end card-container -->
</div>
<!-- end col-sm-3 -->
<div class="col-md-3 col-sm-6 wow fadeInUpBig" data-wow-delay="0.8s">
    <div class="card-container">
        <div class="card">
            <div class="front">
                <div class="cover">
                    <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fg8emchyb5j307n053a9z.jpg"/>
                </div>
                <div class="user">
										<img class="img-circle" src="https://ww3.sinaimg.cn/large/006tNbRwgy1fg8el4tmp9j30i40i4dgy.jpg"/>
                </div>
                <div class="content">
                    <div class="main">
                        <h4 class="text-center">「 <%= t("super-action") %> 」</h4>
                        <p class="profession">乌龙明月</p>
                        <p class="text-center"></br><%= t("super-action-class") %></p>
		                </div>
                <div class="footersmall">
                    <div class="rating">
                        <i class="fa fa-mail-forward"></i> <%= t("see") %>
					          </div>
                </div>
            </div>
        </div>
        <!-- end front panel -->
        <div class="back">
            <div class="header">
                <h4 class="profession"><%= t("introduction") %></h4>
            </div>
            <div class="content">
                <div class="main">
                    <!-- <h4 class="text-center">Job Description</h4> -->
                    <p class="text-center">
											<%= t("super-action-introduction") %></h4>
										</p>
                    <div class="stats-container">
                        <div class="stats">
                            <h4>530</h4>
                            <p>
                                <%= t("browse") %>
                            </p>
                        </div>
                        <div class="stats">
                            <h4>120</h4>
                            <p>
                                <%= t("subscribe") %>
                            </p>
                        </div>
                        <div class="stats">
                            <h4>11</h4>
                            <p>
                                <%= t ("course") %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footersmall">
                <div class="social-links text-center">
                    <a href="https://floating-earth-63565.herokuapp.com"><%= t("subscribe") %></a>
                </div>
            </div>
        </div>
        <!-- end back panel -->
    </div>
    <!-- end card -->
</div>
<!-- end card-container -->
</div>
<!-- end col-sm-3 -->

</div>
<!-- end col-sm-10 -->
</div>
<!-- end row -->
<div class="space-100"></div>
</div>
<!-- 翻转小卡片 结束 -->
<div class="lp ">
    <div class="lp-advantage pt60 pb100 lp-bg-gray ">
        <h2 class="lp-advantage-title  tc f22 pb50 wow fadeInUp"><%= t ("t-contents-00") %></h2>
        <div class="container bc ">
            <div class="row">
                <div class="col-md-4">
                    <div class="lp-advantage-item bc pl20 pr20 tc wow fadeInUp" data-wow-delay="0.4s">
                        <img class="lp-advantage-img" src="https://ww1.sinaimg.cn/large/006tKfTcgy1fg13j5pyvsj30fo0dzju0.jpg">
                        <p class="lp-advantage-title f18 mt20 wow fadeInUp" data-wow-delay="0.8s"><%= t ("t-contents-01") %></p>
                        <p class="lp-advantage-desc f14 pl20 pr20 mt30 wow fadeInUp" data-wow-delay="1.2s"><%= t ("t-contents-02") %></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="lp-advantage-item bc pl20 pr20 tc wow fadeInUp" data-wow-delay="0.4s">
                        <img class="lp-advantage-img" src="https://ww2.sinaimg.cn/large/006tKfTcgy1fg13e5zglaj30fo0fogml.jpg">
                        <p class="lp-advantage-title f18 mt20 wow fadeInUp" data-wow-delay="0.8s"><%= t ("t-contents-03") %></p>
                        <p class="lp-advantage-desc f14 pl20 pr20 mt30 wow fadeInUp" data-wow-delay="1.2s"><%= t ("t-contents-04") %></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="lp-advantage-item bc pl20 pr20 tc wow fadeInUp" data-wow-delay="0.4s">
                        <img class="lp-advantage-img" src="https://ww2.sinaimg.cn/large/006tKfTcgy1fg13fftbn5j3069069wem.jpg">
                        <p class="lp-advantage-title f18 mt20 wow fadeInUp" data-wow-delay="0.8s"><%= t ("t-contents-05") %></p>
                        <p class="lp-advantage-desc f14 pl20 pr20 mt30 wow fadeInUp" data-wow-delay="1.2s"><%= t ("t-contents-06") %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="lp-how pt60 pb60">
  		<h2 class="title tc f22 pb20">我们是如何快速送达商品的</h2>
  		<p class="f16 tc light">与全国180多个城市大型超市合作，每天有无数的快递员穿梭于您与超市之间。</p>
  	</div> -->
    <div class="lp-feedback pt60 pb60 ">
        <h2 class="lp-advantage-title  tc f22 pb20"><%= t ("t-feedback-00") %></h2>
        <p class="f16 tc light pb30"><%= t ("t-feedback-01") %></p>
        <div class="home-people container">
            <div class="row">
                <div class="item person fl col-md-4">
                    <div class="avata-wrapper wow flipInX" data-wow-delay="0.8s">
                        <img class="avata" src="https://ww4.sinaimg.cn/large/006tKfTcgy1fg0z4ym36uj307s07qaad.jpg">
                    </div>
                    <div class="intro clearfix wow flipInX" data-wow-delay="0.8s">
                        <div class="name">
                            <%= t ("t-feedback-02") %>
					  	          </div>
	                  </div>
                    <div class="words wow zoomIn" data-wow-delay="1s">
                        <span class="bg"></span>
                        <span class="fa fa-quote-left quote quote-l iconfont"></span>
                        <span class="fa fa-quote-right quote quote-r iconfont"></span>
                        <div class="lp-advantage-desc "><%= t ("t-feedback-03") %></div>
                    </div>
                </div>
                <div class="item person fl col-md-4">
                    <div class="avata-wrapper wow flipInX" data-wow-delay="0.8s">
                        <img class="avata" src="https://ww4.sinaimg.cn/large/006tKfTcgy1fg0yz02s9hj30g00g0tac.jpg">
                    </div>
                    <div class="intro clearfix wow flipInX" data-wow-delay="0.8s">
                        <div class="name">
                            <%= t ("t-feedback-04") %>
					  	          </div>
                    </div>
                    <div class="words wow zoomIn" data-wow-delay="1s">
                        <span class="bg"></span>
                        <span class="fa fa-quote-left quote quote-l iconfont"></span>
                        <span class="fa fa-quote-right quote quote-r iconfont"></span>
                        <div class="lp-advantage-desc"><%= t ("t-feedback-05") %></div>
                    </div>
                </div>
                <div class="item person fl col-md-4">
                    <div class="avata-wrapper wow flipInX" data-wow-delay="0.8s">
                        <img class="avata" src="https://ww3.sinaimg.cn/large/006tKfTcgy1fg0yxkme7ej30g00g1abo.jpg">
                    </div>
                    <div class="intro clearfix wow flipInX" data-wow-delay="0.8s">
                        <div class="name">
                            <%= t ("t-feedback-06") %>
					  	          </div>
                    </div>
                    <div class="words wow zoomIn" data-wow-delay="1s">
                        <span class="bg"></span>
                        <span class="fa fa-quote-left quote quote-l iconfont"></span>
                        <span class="fa fa-quote-right quote quote-r iconfont"></span>
                        <div class="lp-advantage-desc"><%= t ("t-feedback-07") %></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- navbar的js效果 -->
<!-- <script>
        $(document).ready(function(){
                    //  $(".navbar-fixed-top navbar-default").css("background-color", "transparent"); // if yes, then change the color of class "navbar-fixed-top" to white (#f8f8f8)
                    //  $(".navbar-fixed-top navbar-default").css("border-color", "transparent"); // if yes, then change the color of class "navbar-fixed-top" to white (#f8f8f8)
                  $(window).scroll(function() { // check if scroll event happened
                     if ($(document).scrollTop() > 700) { // check if user scrolled more than 50 from top of the browser window
                      //  $(".navbar-fixed-top").css("background-color", "#fff"); // if yes, then change the color of class "navbar-fixed-top" to white (#f8f8f8)
                       $(".navbar-default").css("width", "auto").css("margin-top","0px").css("left", "0%").css("margin-left", "0px"); // if yes, then change the color of class "navbar-fixed-top" to white (#f8f8f8)
                       $(".navbar-default").css("padding", "10px 200px");
                     } else {
                       $(".navbar-fixed-top navbar-default").css("background-color", "transparent"); // if not, change it back to transparent
                     }
                   });
                  });
    </script> -->
