<div class="row">
   <div class="col-md-12">

    <h2> <%= t('checkout-index') %> </h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="80%"><%= t('f-cart-product-info') %></th>
          <th><%= t('f-cart-product-price') %></th>
          <th><%= t('f-cart-product-quantity') %></th>
        </tr>
      </thead>
      <tbody>

        <% current_cart.cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= link_to(cart_item.product.title, product_path(cart_item.product)) %>
            </td>
            <td>
              <%= cart_item.product.price %>
            </td>

            <td>
              <%= cart_item.quantity %>
            </td>

          </tr>
        <% end %>

      </tbody>
    </table>

    <div class="total clearfix">
      <span class="pull-right">
        <%= t('f-cart-total') %> <%= render_cart_total_price(current_cart) %> RMB
      </span>
    </div>

    <hr>


    <div class="order-form">

      <%= simple_form_for @order do |f| %>



          <legend> <%= t('f-billing-info') %> </legend>
          <div class="form-group col-lg-6">
            <%= f.input :billing_name ,input_html: { value: "***" } %>
          </div>
          <div class="form-group col-lg-6">
            <%= f.input :billing_address ,input_html: { value: "***" } %>
          </div>

          <legend> <%= t('f-shipping-info') %> </legend>
          <div class="form-group col-lg-6">
           <%= f.input :shipping_name  ,input_html: { value: "***" }%>
          </div>
          <div class="form-group col-lg-6">
            <%= f.input :shipping_address ,input_html: { value: "***" } %>
          </div>

        <div class="checkout">
          <%= f.submit t('btn-order-create'), class: "btn btn-lg btn-danger pull-right",
                       data: { disable_with: "Submitting..." } %>
        </div>
      <% end %>

    </div>
  </div>
</div>
