<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">
</head>
<div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
        <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
        <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper For Slides -->
    <div class="carousel-inner" role="listbox">
        <!-- Third Slide -->
        <div class="item active">
            <!-- Slide Background -->
            <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fg5scs25ykj31kw0rawjl.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
            <div class="bs-slider-overlay"></div>
            <div class="container">
                <div class="row">
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_right">
                        <h1 data-animation="animated zoomInRight"><%= t("wealth") %></h1>
                        <p data-animation="animated fadeInLeft"><%= t("opportunity") %></p>
                        <a href="https://h5.sao.cn/product/detail?alias=onhnfsdtybxb" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft"><%= t("introduction") %></a>
                        <a href="https://h5.sao.cn/product/detail?alias=onhnfsdtybxb" target="_blank"  class="btn btn-primary" data-animation="animated fadeInRight"><%= t("subscribe") %></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Slide -->
        <!-- Second Slide -->
        <div class="item">
            <!-- Slide Background -->
            <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fg5y95w95tj31kw0rattq.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
            <div class="bs-slider-overlay"></div>
            <!-- Slide Text Layer -->
            <div class="slide-text slide_style_left">
                <h1 data-animation="animated flipInX"><%= t("read-meetup") %></h1>
                <p data-animation="animated lightSpeedIn"><%= t("meetup") %></p>
                <a href="https://speedread.club" target="_blank" class="btn btn-default" data-animation="animated fadeInUp"><%= t("introduction") %></a>
                <a href="https://speedread.club" target="_blank"  class="btn btn-primary" data-animation="animated fadeInDown"><%= t("subscribe") %></a>
            </div>
        </div>
        <!-- End of Slide -->
        <!-- Third Slide -->
        <div class="item">
                <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fg5rmgr3uxj30go081t9c.jpg" alt="猎人学院"  class="slide-image"/>
                <div class="bs-slider-overlay"></div>
                  <div class="slide-text slide_style_lift">
                    <h1 data-animation="animated zoomInLeft"><%= t("Hunter-College") %></h1>
                    <p data-animation="animated fadeInRight"><%= t("best-course") %></p>
                    <!-- <a href="https://floating-earth-63565.herokuapp.com" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">课程介绍</a> -->
                    <a href="https://floating-earth-63565.herokuapp.com" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight"><%= t("hunting") %></a>
                </div>
            </div>
        <!-- End of Slide -->
    </div>
    <!-- End of Wrapper For Slides -->
    <!-- Left Control -->
    <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
        <span class="fa fa-angle-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <!-- Right Control -->
    <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
        <span class="fa fa-angle-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- End  bootstrap-touch-slider Slider -->
<!-- 页面飘动和文字飘入的js -->
<script>
    $('.carousel').carousel({
                       interval: 4000 //修改页面的更换速度
                   })
                   $('#bootstrap-touch-slider').bsTouchSlider();
</script>
<script>
    $(document).ready(function () {
                   $('.material-button-toggle').click(function () {
                       $(this).toggleClass('open');
                       $('.option').toggleClass('scale-on');
                   });
                  });
</script>
<!-- 页面飘动和文字飘入的js结束 -->

<!-- <div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= product.title %> ￥ <%= product.price %>
    </div>
  <% end %>
</div> -->
<div class="categoryList">
  <div class="categoryList-item">课程</div>
  <div class="categoryList-item">工具</div>
  <div class="categoryList-item">书卷</div>
</div>

<div class="product-box ">
  <div class="container">
<% if @products.length > 0 %>
    <!--=== 商品列表 ===-->
    <div class="row ">
        <% @products.each_with_index do |product, index| %>
            <div class=" col-xs-12 col-sm-2 col-md-3 product-content wow fadeInUp" data-wow-delay="0.4s">
                <%= link_to product_path(product) do %>
                    <!-- 商品圖片 -->
                    <% if product.image.present? %>
                        <!-- 顯示第一張圖片 -->
                        <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
                    <% else %>
                        <%= image_tag('http://placehold.it/200x200&text=No Pic', class: 'thumbnail') %>
                    <% end %>
                <% end %>
                <div class="product-info">
                    <!-- 收藏爱心按钮 -->
                    <% if !product.users.include?(current_user) %>
                      <%= link_to("",add_to_favorite_product_path(product),method: :post, class: "fa fa-heart") %>
                    <% else %>
                      <%= link_to("", quit_favorite_product_path(product),method: :post,  class: "fa fa-heart", style: "color:red;") %>
                    <% end %>
                    <!-- 商品名称 -->
                    <ul><%= link_to(product.title , product_path(product)) %></ul>
                    <!-- 商品价格 -->
                    <ul>￥<%= product.price %></ul>
                </div>
            </div>
        <% end %>
    </div>
<% else %>
    <div class="product-content">
        <h2><%= (t('no-product-data')) %></h2>
    </div>
<% end %>
</div>
</div>
