<!-- <div class="row">
    <div class="col-md-6">
        <% if @product.image.present? %>
            <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
        <% else %>
            <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
        <% end %>
    </div>
    <div class="col-md-6">
        <h2> <%= @product.title %> </h2>
        <div style="height:100px;">
            <p>
                <%= @product.description %>
            </p>
        </div>
        <div> 数量 : <%= @product.quantity %> </div>
        <div class="product-price"> ￥ <%= @product.price %> </div>
        <div class="pull-right">
            <% if @product.quantity.present? && @product.quantity > 0 %>
                <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
            <% else %>
                已销售一空，无法购买
            <% end %>
        </div>
    </div>
</div> -->
<div class='product-box product-show'>
    <div class='container'>
        <!-- 商品圖片 -->
        <div class="col-xs-10 col-md-6 product-image wow fadeInDownBig" data-wow-delay="0.4s">
            <div class="row">
                <% if @product.image.present? %>
                    <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
                <% else %>
                    <%= image_tag('http://placehold.it/400x400&text=No Pic', class: 'thumbnail') %>
                <% end %>
            </div>
        </div>
        <!--=== 商品資訊 ===-->
        <%= form_tag add_to_cart_product_path(@product), :method => :post, :remote => true do %>
            <div class='col-xs-12 col-md-4 product-detail'>
                <div>
                    <h1><%= @product.title %></h1>
                    <div class="price">
                        <div class="left-box">
                            <h3><%= @product.price %></h3>
                        </div>
                    </div>
                    <p><%= simple_format(@product.description) %></p>
                </div>
                <hr/>
                <div>
                    <p>
                        <% if @product.quantity > 0 %>
                            <div class="quantity-box">
                                <div class="left-box"><%= t('数量') %>：
                                 <%= link_to("-", "", id: "quantity-minus", class: "quantity-actions") %>
                                    <input type="text" name="quantity" value="1" id="quantity-input" class="quantity-input">
                                 <%= link_to("+", "", id: "quantity-plus", class: "quantity-actions") %>
                                </div>
                            </div>
                        <% else %>
                            <%= t('product-quantity-none') %>
                        <% end %>
                    </p>
                    <hr />
                    <!-- 加入購物車 -->
                    <button class="btn btn-md btn-default" type="submit">
                        <%= link_to("加入愿望清单", add_to_cart_product_path(@product), :method => :post) %>
                    </button>
                </div>
            </div>
        <% end %>

    </div>
    <br/><br/>
    <div align="center">
      <% if @photos.present? %>
       <% @photos.each_with_index do |p, index| %>
         <% if index == 0 %>
           <%= image_tag p.avatar.medium.url %>
           <div style="letter-spacing: -8px">
         <% else %>
           <%= image_tag p.avatar.thumb.url %>
         <% end %>
       <% end %>
       </div>
       <% else %>
           <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
       <% end %>
   </div>
</div>
